#profile {
  width: 18vh;
  /* border: 2px solid red; */
  padding: 3%;
}
.purple {
  background-color: #5746ea;
  /* border: 2px solid yellow; */
  width: 32vw;
  height: 18vw;
  border-radius: 12px;
  margin: 5rem auto auto 10rem;
  display: flex;
  justify-content: space-between;
}
.regdata {
  font-size: 2rem;
  padding: 5% 20% 8% 2%;
  /* border: red 2px solid; */
  height: 12rem;
  line-height: 30px;
}
.Category {
  background-color: #9f94ff;
  color: #ffffff;
  border: #9f94ff 2px solid;
  border-radius: 20px;
  padding: 2%;
  width: 16rem;
  height: 4rem;
  letter-spacing: 2px;
  text-align: center;
  margin: 1rem;
}

.box {
  /* border: red 2px solid; */
  width: 46vh;
  height: 18vh;
  max-height: 16rem;
  overflow-y: auto;
}

/* datte and time */
.datetime {
  display: flex;
  /* border: 2px solid red; */
  width: 68vh;
  justify-content: space-around;
  font-size: 2rem;
  margin: 2rem 0 0 10rem;
  padding: 0.25%;
  background-color: #ff4ade;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: 600;
}
.weather {
  display: flex;
  /* border: 2px solid red; */
  width: 68vh;
  height: 15vh;
  justify-content: space-around;
  font-size: 2rem;
  margin: 0 0 0 10rem;
  padding: 2%;
  background-color: #101744;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  align-items: center;
}
#icon {
  width: 6rem;
}
.line {
  font-size: 4rem;

  font-weight: 200;
}
#pressure {
  width: 1.5rem;
  margin: 0.5rem 1rem 0 0;
}
.temp {
  width: 18vh;
}
.humid {
  width: 18vh;
}
#drop {
  width: 1.5rem;
  margin: 1rem 2rem 0 0;
}
#wind {
  width: 2rem;
  margin: 0 1rem 0 0;
}
/* newss styling part */
.cont2 {
  /* border: 2px solid red; */
  width: 50rem;
  height: 68rem;
  margin-top: 5rem;
  margin-left: 25vw;
  padding-right: 0;
  padding-left: 4%;
}

#News {
  width: 40rem;
  /* border: 2px solid red; */
  height: 40rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.title {
  /* border: 2px solid red; */
  background-color: #0a0909;
  width: 40rem;
  padding: 1%;
}
.time {
  font-size: 1.5rem;
  padding: 1%;
}
.descriptionContainer {
  /* border: 2px solid red; */
  width: 40rem;
  font-size: 2rem;
  background-color: #ffffff;
  padding: 2%;
  color: black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  line-height: 3rem;
}
.scroll {
  /* border: 4px solid yellow; */
  width: 40rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 30rem;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
.arrow {
  font-size: 5rem;
  position: absolute;
  bottom: 33rem;
  color: white;
  right: 10rem;
}
/* notes */
